@import "../../../../assets/scss/utils/variables.scss";


.action {
    display: flex;
    i {
        cursor: pointer;
        display:inline-block;
        border:2px solid transparent;
        border-radius: 50%;
        transition:  all 0.3s ease;
    
        padding: 8px;

        &:hover {
            background-color: $light-gray;
            color:gray;
        }
    

    }
    .pdf {
      i {
        font-size: 20px;
        color: $dark-color;
      }
    }
    .edit {
      margin-right: 5px;
      i {
        color: $success-color;
      }
      [dir="rtl"] & {
        margin-left: 5px;
      }
    }
    .delete {
      i {
        color: $danger-color;
      }
    }
  }
  :host ::ng-deep .custom-pagination .ngx-pagination {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  :host ::ng-deep .custom-pagination .ngx-pagination .pagination-previous,
  :host ::ng-deep .custom-pagination .ngx-pagination .pagination-next {
    flex: 1;
    text-align: center;
  }
  
  :host ::ng-deep .custom-pagination .ngx-pagination .pagination-previous a,
  :host ::ng-deep .custom-pagination .ngx-pagination .pagination-next a {
    margin: 0;
  }
  
  :host ::ng-deep .custom-pagination .ngx-pagination .ngx-pagination__page-link {
    min-width: 30px;
  }

.comments ,.select {
    box-shadow: none;
    border-color: #efefef;
    background-color: #fff;
    font-size: 14px;
    color: #898989;
    padding: 12px 10px;
    box-shadow: none;
}
hr {
    color: $dark-border-color;
}