<div>
  <div class="row g-2">
    <div class="col-md-6">
      <div class="mb-3">
        <label class="col-form-label">Code</label>
        <input class="form-control" type="text" placeholder="Car code" />
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label class="col-form-label">Car</label>
        <input class="form-control" type="text" placeholder="Car name" />
      </div>
    </div>
  </div>

  <div class="row g-2">
    <div class="col-md-6">
      <div class="mb-3">
        <label class="col-form-label">Year</label>
        <input class="form-control" type="text" placeholder="Enter year" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label class="col-form-label">Plate</label>
        <input class="form-control" type="text" placeholder="Enter Plate" />

      </div>
    </div>
  </div>

  <hr class="mt-4 mb-4" />
  <h6>Default Rent price</h6>
  <div class="row g-4">
    <div class="col-md-3">
      <div class="mb-3">
        <label class="col-form-label">Daily</label>
        <input class="form-control" type="text" placeholder="Daily"  appDecimalFormat />
      </div>
    </div>

    <div class="col-md-3">
      <div class="mb-3">
        <label class="col-form-label">Weekly</label>
        <input class="form-control" type="text" placeholder="Weekly" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="mb-3">
        <label class="col-form-label">Monthly</label>
        <input class="form-control" type="text" placeholder="Monthly" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="mb-3">
        <label class="col-form-label">Annual</label>
        <input class="form-control" type="text" placeholder="Annual" />
      </div>
    </div>
  </div>

  <hr class="mt-4 mb-4" />
  <h6>No Kilometer</h6>
  <div class="row g-2">
    <div class="col-md-6">
      <div class="mb-3">
        <label class="col-form-label">Current</label>
        <input class="form-control" type="text" placeholder="Current" />
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label class="col-form-label">Next Service</label>
        <input class="form-control" type="text" placeholder="Next Service" />
      </div>
    </div>
  </div>
  <hr class="mt-4 mb-4" />
  <h6>Expiry</h6>
  <div class="row g-2">
    <div class="col-md-6">
      <div class="mb-3">
        <label class="col-form-label">Insurance</label>
        <input class="form-control" type="date" placeholder="Insurance" />
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label class="col-form-label">Registration</label>
        <input class="form-control" type="date" placeholder="Registration" />
      </div>
    </div>
  </div>
  <hr class="mt-4 mb-4" style="color: grey" />
  <div class="row g-4">
    <div class="col-md-3">
      <div class="mb-3">
        <label class="col-form-label">Engine No</label>
        <input class="form-control" type="text" placeholder="Engine No" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="mb-3">
        <label class="col-form-label">Chassis No</label>
        <input class="form-control" type="text" placeholder="Chassis No" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="mb-3">
        <label class="col-form-label">Fuel</label>
        <input class="form-control" type="number" placeholder="0" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="mb-3">
        <label class="col-form-label">Petrol charge</label>
        <input class="form-control" type="text" placeholder="Petrol charge" />
      </div>
    </div>
    <div class="col-md-12">
      <div class="mb-3">
        <label class="col-form-label">Comments</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea4"
          rows="3"
        ></textarea>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card-header">
        <hr class="mt-4 mb-4" />
        <h6>        Caracteristics of the car
        </h6>
      </div>
      <div class="table-responsive">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col">Variable</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Color</td>
              <td>
                <input type="text" class="form-control" value="color" />
              </td>
              
            </tr>
            <tr>
              <td>Color</td>
              <td>
                <input type="text" class="form-control" value="value111" />
              </td>
            </tr>
            <tr>
              <td>Category</td>
              <td>
                <input type="text" class="form-control" value="value111" />
              </td>
            </tr>
            <tr>
              <td>Origin</td>
              <td>
                <input type="text" class="form-control" value="value111" />
              </td>
            </tr>
            <tr>
              <td>Doors</td>
              <td>
                <input type="text" class="form-control" value="value111" />
              </td>
            </tr>
            <tr>
              <td>Seats</td>
              <td>
                <input type="text" class="form-control" value="value111" />
              </td>
            </tr>
            <tr>
              <td>Cylinders</td>
              <td>
                <input type="text" class="form-control" value="value111" />
              </td>
            </tr>
            <tr>
              <td>Insu.Company</td>
              <td>
                <input type="text" class="form-control" value="value111" />
              </td>
            </tr>
            <tr>
              <td>Type of insurance</td>
              <td>
                <input type="text" class="form-control" value="value111" />
              </td>
            </tr>
            <tr>
              <td>Owner name</td>
              <td>
                <input type="text" class="form-control" value="value111" />
              </td>
            </tr>
            <tr>
              <td>Owner ID</td>
              <td>
                <input type="text" class="form-control" value="value111" />
              </td>
            </tr>
            <tr>
              <td>Nationality</td>
              <td>
                <input type="text" class="form-control" value="value111" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
