<app-breadcrumb
  [title]="'Customers Page'"
  [items]="['Forms', 'Form Layout']"
  [active_item]="'Customers Page'"
></app-breadcrumb>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-12">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <li class="text-end">
                <button class="btn btn-primary" (click)="modal.open(content)">
                  Add new permission
                </button>
              </li>
            </div>
            <div class="card-body">
              <div *ngIf="permissions.length > 0; else noData">
                <div class="table-responsive signal-table">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">permission_name</th>
                        <th scope="col">default</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let permission of permissions">
                        <td>{{permission.permission_name}}</td>
                        <td>{{permission.is_default}}</td>
                     
    
                    
              
               
                        <td>
                          <ul class="action">
                            <li class="edit">
                              <a (click)="goToUpdatePermission(permission._id)"><i class="icon-pencil-alt"></i></a>
                            </li>
                            <li class="delete">
                              <a (click)="deletePermission(permission._id)"><i class="icon-trash mb-3"></i></a>
                            </li>
                      
                        
                          </ul>
                        </td>



                      </tr>
                  
                     
                    </tbody>
             
                  </table>
                </div>
  
  
                
                </div>
                <ng-template #noData>
                  
                  <div  class="alert alert-light"><p>Permission not found.</p></div>                </ng-template>
         
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="card-body">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add new Permision</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form class="theme-form mega-form" [formGroup]="formGroup" (ngSubmit)="createPermission()">
        <span> </span>
        <div class="row g-2">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label">Permission name</label>
              <input
                class="form-control"
                type="text"
                placeholder="Permission name"
                formControlName="permission_name"

              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label">default</label>
              <select formControlName="default"class="select form-control">
                <option>0</option>
                <option>1</option>
            
              </select>
            </div>
          </div>
        </div>


        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-outline-dark"
            
            (click)="modal.close('Save click')"
          >
            Add 
          </button>
        </div>
      </form>
    </div>

   
  </ng-template>
</div>



<div class="card-body">
  <ng-template #content let-modal>
    <div class="modal-header">
      
      <h4 class="modal-title" id="modal-basic-title">Add new car</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form class="theme-form mega-form">
        <h6>Permission </h6>
        <span> </span>
        <div class="row g-2">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label">name</label>
              <input
                class="form-control"
                type="text"
                placeholder="permission name"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="mb-3">
              <label class="col-form-label">default</label>
              <select class="select form-control">
                <option>0</option>
                <option>1</option>
               
              </select>
            </div>
          </div>

          
        </div>

    
      </form>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
      >
        Add permission
      </button>
    </div>
  </ng-template>
</div>