.invoice-container {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #FFF;
    height: 50%;
    padding: 8px;
  }
  
  .invoice-header, .invoice-footer {
    background-color: #FFD700;
    text-align: center;
    padding: 10px;
  }
  
  .invoice-body {
    padding: 20px;
  }
  
  .customer-info, .payment-info {
    border: 1px solid #000;
    margin-bottom: 10px;
  }
  
  .customer-id {
    background-color: #FFD700;
    padding: 5px;
  }
  
  .customer-details, .contract-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #000;
  }
  
  .qr-code, .customer-silhouette, .car-image {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
  }
  
  .payment-table {
    width: 100%;
    background-color: #FFD700;
    padding: 5px;
  }
  
  .payment-table td {
    padding: 5px;
    text-align: center;
  }
  
  .totals {
    background-color: #FFF;
    font-weight: bold;
  }
  .invoice-container {
    font-family: Arial, sans-serif;
    width: 600px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #FFF;
  }
  p,span{
    color:black
  }
  
  
  
  .invoice-body {
    padding: 20px;
  }
  
  .customer-section, .contract-section, .payment-section {
    border: 1px solid #000;
    margin-bottom: 10px;
  }
  
  .customer-id, .contract-info {
    background-color: #FFD700;
    padding: 5px;
  }
  
  .customer-info, .contract-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .qr-code, .customer-silhouette, .car-image {
    width: 50px; 
    height: 50px; 
  }
  
  .payment-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .payment-table th, .payment-table td {
    border: 1px solid #000;
    padding: 5px;
    text-align: left;
  }
  
  .payment-table th {
    background-color: #FFD700;
  }
  
  .highlight {
    background-color: #FFFF00; /* Highlight color */
  }
  
  .totals {
    font-weight: bold;
  }