<app-breadcrumb
  [title]="'Customers Page'"
  [items]="['Forms', 'Form Layout']"
  [active_item]="'Customers Page'"
></app-breadcrumb>

<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-xl-12">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
        
      
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search...">

                  </div>
                  <div class="col-md-6">
                    <div class="text-end">
                  
                      <button class="btn btn-primary" (click)="goToListCus()">
                        Add customer
                      </button>
                    </div>
                  </div>
                </div>
               
              </div>
              

              <div class="card-body">
                
          
                <div *ngIf="customers.length > 0; else noData">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Code</th>
                          <th scope="col">Passport</th>
                          <th scope="col">Title</th>
                          <th scope="col" class="w-100">Full name</th>
                          <th scope="col">birth</th>
                          <th scope="col">Drv.lns</th>
                          <th scope="col">Issu.by</th>
                          <th scope="col">Issu.on</th>
                          <th scope="col">mobile</th>

                          <th scope="col">Drv.Lns.Exp</th>
                          <th scope="col">Pass.Exp</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                    
                        <tr *ngFor="let customer of customers| filter: searchQuery: ['code','passport_number','date_birth','issued_by','passport_expiry', 'fullName', 'license_number','mobile','issued_on']">

                          <th scope="row">{{ customer.code }}</th>
                          <td>{{ customer.passport_number }}</td>
                          <td>{{ customer.id_number }}</td>
                          <td>{{ customer.fullName }}</td>
                          <td>
                            {{ customer.date_birth | date : "yyyy-MM-dd" }}
                          </td>
                          <td>{{ customer.license_number }}</td>
                          <td>{{ customer.issued_by }}</td>
                          <td>
                            {{ customer.issued_on | date : "yyyy-MM-dd" }}
                          </td>
                          <td>{{ customer.mobile }}</td>
                          <td>
                            {{ customer.expiry_date | date : "yyyy-MM-dd" }}
                          </td>
                          <td>
                            {{ customer.passport_expiry | date : "yyyy-MM-dd" }}
                          </td>

                          <td>
                            <ul class="action">
                              <li class="edit">
                                <a (click)="goToUpdateCustomer(customer._id)"
                                  ><i class="icon-pencil-alt"></i
                                ></a>
                              </li>
                              <li class="delete">
                                <a (click)="deleteCustomer(customer._id)"
                                  ><i class="icon-trash mb-3"></i
                                ></a>
                              </li>
                              <!-- <li class="information">
                                <a routerLink="/cars/car-details"
                                  ><i class="icon-menu mb-3"></i
                                ></a>
                              </li> -->
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <ng-template #noData>
                  <div class="alert alert-light">
                    <p>Customer not found.</p>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
