<app-breadcrumb
  [title]="'Car Definition'"
  [items]="['Forms', 'Form Layout']"
  [active_item]="'Car Definition'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 box-col-12">
      <div class="text-center">
        <div class="cardheader socialheader">
          <div class="info market-tabs col-md-12">
            <ul
              id="top-tab"
              role="tablist"
              class="nav nav-tabs border-tab tabs-scoial"
            >
              <li class="nav-item">
                <button
                  class="btn btn-pill btn-light btn-air-light active txt-dark me-1"
                  type="button"
                  disabled
                >
                  Voucher 0
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="btn btn-pill btn-light btn-air-light active txt-dark me-1"
                  type="button"
                  disabled
                >
                  Change car
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="btn btn-pill btn-light btn-air-light active txt-dark me-1"
                  type="button"
                >
                  Deposit back
                </button>
              </li>

              <li class="nav-item">
                <button
                  class="btn btn-pill btn-light btn-air-light active txt-dark me-1"
                  type="button"
                >
                  Rec. Voucher
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="btn btn-pill btn-light btn-air-light active txt-dark me-1"
                  type="button"
                >
                  Pay. Voucher
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header">
              <li class="text-end">
                <button class="btn btn-success" (click)="modal.open(content)">
                  Add new car
                </button>
              </li>
            </div>

            <div class="card-body">
              <form [formGroup]="carForm" class="theme-form mega-form">
                <div *ngIf="formData.length > 0; else noDataFound">
                  <div
                    *ngFor="
                      let c of formData
                        | paginate : { itemsPerPage: 1, currentPage: p }
                    "
                  >
                    <div>
                      <div class="row">
                        <div class="col-md-12">
                          <ul class="action">
                            <li class="plus">
                              <a href="#"><i class="icon-plus-alt"></i></a>
                            </li>
                            <li class="edit">
                              <a (click)="updateCar(c._id)"
                                ><i class="icon-pencil-alt"></i
                              ></a>
                            </li>
                            <li class="delete">
                              <a (click)="open()"
                                ><i class="icon-trash mb-3"></i>

                                <confirmation-modal
                                  #confirmationModal
                                  (newConfirmationEvent)="
                                    getConfirmationValue($event, c._id)
                                  "
                                  [modalStyle]="modalStyle"
                                  [modalTitle]="modalTitle"
                                  [modalBody]="modalBody"
                                  [modalButtonColor]="modalButtonColor"
                                ></confirmation-modal>
                              </a>
                            </li>
                            <li class="pdf">
                              <a
                                routerlink="/cars/car-details"
                                href="/cars/car-details"
                                ><i class="icon-printer"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div>
                        <div class="row g-2">
                          <div class="col-md-6">
                            <div class="mb-3">
                              <label class="col-form-label">Code</label>
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Car code"
                                [value]="c.serial"
                                (change)="onChangeInputValue($event, 0)"
                              />
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="mb-3">
                              <label class="col-form-label">Car</label>
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Car name"
                                [value]="c.car"
                                (change)="onChangeInputValue($event, 1)"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row g-2">
                          <div class="col-md-6">
                            <div class="mb-3">
                              <label class="col-form-label">Year</label>
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Enter year"
                                [value]="c.year"
                                (change)="onChangeInputValue($event, 2)"
                              />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="mb-3">
                              <label class="col-form-label">Plate</label>
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Enter Plate"
                                [value]="c.plate"
                                (change)="onChangeInputValue($event, 3)"
                              />

                            </div>
                          </div>
                         
                        </div>

                        <hr class="mt-4 mb-4" />
                        <h6>Default Rent price</h6>
                        <div class="row g-4">
                          <div class="col-md-3">
                            <div class="mb-3">
                              <label class="col-form-label">Daily</label>
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Daily"
                                (change)="onChangeInputValue($event, 4)"
                                [value]="c.daily"
                              />
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="mb-3">
                              <label class="col-form-label">Weekly</label>
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Weekly"
                                (change)="onChangeInputValue($event, 5)"
                                [value]="c.weekly"
                              />
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="mb-3">
                              <label class="col-form-label">Monthly</label>
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Monthly"
                                (change)="onChangeInputValue($event, 6)"
                                [value]="c.monthly"
                                
                              />
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="mb-3">
                              <label class="col-form-label">Annual</label>
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Annual"
                                (change)="onChangeInputValue($event, 7)"
                                [value]="c.annual"
                                
                              />
                            </div>
                          </div>
                        </div>

                        <hr class="mt-4 mb-4" />
                        <h6>No Kilometer</h6>
                        <div class="row g-2">
                          <div class="col-md-6">
                            <div class="mb-3">
                              <label class="col-form-label">Current</label>
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Current"
                                (change)="onChangeInputValue($event, 30)"
                                [value]="c.current"
                              />
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="mb-3">
                              <label class="col-form-label">Next Service</label>
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Next Service"
                                (change)="onChangeInputValue($event, 9)"
                                [value]="c.next_service"
                              />
                            </div>
                          </div>
                        </div>
                        <hr class="mt-4 mb-4" />
                        <h6>Expiry</h6>
                        <div class="row g-2">
                          <div class="col-md-6">
                            <div class="mb-3">
                              <label class="col-form-label">Insurance</label>
                              <input
                                class="form-control"
                                type="date"
                                placeholder="Insurance"
                                (change)="onChangeInputValue($event, 10)"
                                [value]="c.insurance | date : 'yyyy-MM-dd'"
                              />
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="mb-3">
                              <label class="col-form-label">Registration</label>
                              <input
                                class="form-control"
                                type="date"
                                placeholder="Registration"
                                (change)="onChangeInputValue($event, 11)"
                                [value]="c.registration | date : 'yyyy-MM-dd'"
                              />
                            </div>
                          </div>
                        </div>
                        <hr class="mt-4 mb-4" style="color: grey" />
                        <div class="row g-4">
                          <div class="col-md-3">
                            <div class="mb-3">
                              <label class="col-form-label">Engine No</label>
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Engine No"
                                (change)="onChangeInputValue($event, 12)"
                                [value]="c.engine_no"
                              />
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="mb-3">
                              <label class="col-form-label">Chassis No</label>
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Chassis No"
                                (change)="onChangeInputValue($event, 13)"
                                [value]="c.chassis_no"
                              />
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="mb-3">
                              <label class="col-form-label">Fuel</label>
                              <input
                                class="form-control"
                                type="number"
                                placeholder="0"
                                (change)="onChangeInputValue($event, 14)"
                                [value]="c.fuel"
                              />
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="mb-3">
                              <label class="col-form-label"
                                >Petrol charge</label
                              >
                              <input
                                class="form-control"
                                type="text"
                                placeholder="Petrol charge"
                                (change)="onChangeInputValue($event, 15)"
                                [value]="c.petrol_charge"
                              />
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="mb-3">
                              <label class="col-form-label">Comments</label>
                              <textarea
                                class="form-control"
                                id="exampleFormControlTextarea4"
                                rows="3"
                                formControlName="comments"
                                (change)="onChangeInputValue($event, 16)"
                                [value]="c.comments"
                              ></textarea>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card-header">
                            <hr class="mt-4 mb-4" />
                            <div class="mb-3">

                            <h6>Caracteristics of the car</h6>
                          </div>
                        </div>
                          <div class="table-responsive">
                            <table class="table table-responsive">
                              <thead>
                                <tr>
                                  <th scope="col">Variable</th>
                                  <th scope="col">Value</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Color</td>
                                  <td>
                                    <input
                                      type="text"
                                      class="form-control"
                                      value="color"
                                      [value]="c.color"
                                      (change)="onChangeInputValue($event, 17)"
                                    />
                                  </td>
                                  ,
                                </tr>

                                <tr>
                                  <td>Category</td>
                                  <td>
                                    <input
                                      type="text"
                                      class="form-control"
                                      [value]="c.category"
                                      (change)="onChangeInputValue($event, 18)"
                                    />
                                  </td>
                                </tr>
                                <tr>
                                  <td>Origin</td>
                                  <td>
                                    <input
                                      type="text"
                                      class="form-control"
                                      [value]="c.origin"
                                      (change)="onChangeInputValue($event, 19)"
                                    />
                                  </td>
                                </tr>
                                <tr>
                                  <td>Doors</td>
                                  <td>
                                    <input
                                      type="text"
                                      class="form-control"
                                      [value]="c.doors"
                                      (change)="onChangeInputValue($event, 20)"
                                    />
                                  </td>
                                </tr>
                                <tr>
                                  <td>Seats</td>
                                  <td>
                                    <input
                                      type="text"
                                      class="form-control"
                                      [value]="c.seats"
                                      (change)="onChangeInputValue($event, 21)"
                                    />
                                  </td>
                                </tr>
                                <tr>
                                  <td>Cylinders</td>
                                  <td>
                                    <input
                                      type="text"
                                      class="form-control"
                                      [value]="c.cylinders"
                                      (change)="onChangeInputValue($event, 22)"
                                    />
                                  </td>
                                </tr>
                                <tr>
                                  <td>Insu.Company</td>
                                  <td>
                                    <input
                                      type="text"
                                      class="form-control"
                                      [value]="c.insurance_company"
                                      (change)="onChangeInputValue($event, 23)"
                                    />
                                  </td>
                                </tr>
                                <tr>
                                  <td>Type of insurance</td>
                                  <td>
                                    <input
                                      type="text"
                                      class="form-control"
                                      [value]="c.type_of_insurance"
                                      (change)="onChangeInputValue($event, 24)"
                                    />
                                  </td>
                                </tr>
                                <tr>
                                  <td>Owner name</td>
                                  <td>
                                    <input
                                      type="text"
                                      class="form-control"
                                      [value]="c.owner_name"
                                      (change)="onChangeInputValue($event, 25)"
                                    />
                                  </td>
                                </tr>
                                <tr>
                                  <td>Owner ID</td>
                                  <td>
                                    <input
                                      type="text"
                                      class="form-control"
                                      [value]="c.owner_id"
                                      (change)="onChangeInputValue($event, 26)"
                                    />
                                  </td>
                                </tr>
                                <tr>
                                  <td>Nationality</td>
                                  <td>
                                    <input
                                      type="text"
                                      class="form-control"
                                      [value]="c.nationality"
                                      (change)="onChangeInputValue($event, 27)"
                                    />
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card-footer text-end">
                      <nav>
                        <div class="row">
                          <div class="m-t-15 btn-showcase">
                            <ul>
                              <li>
                                <pagination-controls
                                  class="custom-pagination"
                                  (pageChange)="p = $event"
                                  (pageChange)="pageChanged($event)"

                                  (pageBoundsCorrection)="pageChanged($event)"
                                  maxSize="10"
                                  directionLinks="true"
                                  autoHide="true"
                                  responsive="true"
                                  previousLabel="Previous"
                                  nextLabel="Next"
                                  screenReaderPaginationLabel="Pagination"
                                  screenReaderPageLabel="page"
                                  screenReaderCurrentLabel="You're on page"
                                >
                                </pagination-controls>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </nav>
                    </div>
                  </div>
                </div>

                <ng-template #noDataFound>
                  <app-init-car-form></app-init-car-form>
                </ng-template>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 
Modal add car -->

  <div class="card-body">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add new car</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="carForm"
          (ngSubmit)="createCar()"
          class="theme-form mega-form"
        >
          <h6>Car definition</h6>
          <span> </span>
          <div class="row g-2">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label">Code</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Car code"
                  formControlName="code"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label">Car</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Car name"
                  formControlName="car"
                />
              </div>
            </div>
          </div>

          <div class="row g-2">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label">Year</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter year"
                  formControlName="year"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label">Plate</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter Plate"
                  formControlName="plate"
                />
              </div>
            </div>
          </div>
          <div class="row g-2">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label">Car Price<(QAR)</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter car price in QAR"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label">Purchase Date</label>
                <input class="form-control" type="date" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-outline-dark"
              (click)="modal.close('Save click')"
            >
              Add this car
            </button>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>

<!-- 
confirmation modal : -->
